{% extends 'base.html.twig' %}  {# indique dans quelle "maquette" nous allons insérer notre contenu  #} 
{% block title %} Mpilc {% endblock %}
{% block body %}
    <h1> Mpilc </h1>
    <p>Ceci est la page d'accueil</p>
{% endblock %}
